<!DOCTYPE html>
<html>
<head>
  <title>ExampleApp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="contents">
    <div id="header">
      <% flash.each do |key, value| -%>
        <div class="flash <%= key %>"><%= value %></div>
      <% end -%>

      <% if signed_in? %>
        <%= current_user.email %>
        <%= link_to "Sign out", sign_out_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign in", sign_in_path %>
      <% end %>
    </div>

    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
</body>
</html>
