<!DOCTYPE html>
<html>
<head>
  <title>ExampleApp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="contents">
    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
</body>
</html>
